:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --backgroud-our-team: #f5f4fa;
  --fotter-color: #2f303a;
}
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-family: var(--main-font);
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
.button,
.hero-button {
  font-family: inherit;
}
.logo,
.whitelogo {
  color: var(--title-text-color);

  font-family: var(--secondary-font);
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.bluesidelogo {
  color: var(--accent-color);
}
/* Site Nav, Contacts */
.site-nav .link,
.contacts {
  color: var(--title-text-color);

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
  text-decoration: none;
}
.contacts {
  color: var(--primary-text-color);
}

/* Hero */
.hero {
  letter-spacing: 0.06em;
}
.hero-title {
  color: var(--background-color);
  background-color: #2f303a;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}
.hero-button {
  color: var(--background-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
}
/* Sections */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Features, What we are doing */
.features .title,
.picturetext {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.features > li > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.picturetext {
  color: var(--background-color);
  background-color: #2f303a;

  text-transform: uppercase;
}
/* Our team */
.our-team {
  background-color: var(--backgroud-our-team);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
.nametitle {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
/* Footer */
.footer {
  background-color: var(--fotter-color);
}
.whitelogo,
.addresslink,
.footer-sent {
  color: var(--background-color);
}
.addresslink {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.addresscolor {
  color: rgba(255, 255, 255, 0.6);
}
.footer-sent {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.social-network {
  text-decoration: none;
}
/* Portfolio */
/* Portfolio filter */
.section .button {
  color: var(--title-text-color);
  background-color: var(--portfolio-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.section .button:hover,
.section .button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}
/* Portfolio */
.works {
  text-decoration: none;
}
section-descrp {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
